.btn {
  min-width: 100px;
  min-height: 40px;
  border-radius: 25px;
  border: none;

  color: #fff;
  background-color: #4169e1;

  margin: 0 10px;
}

.btn:hover {
  cursor: pointer;
  opacity: 0.7;
}

/* -----------------------------------
  header
----------------------------------- */
header {
  width: 100%;
  height: 60px;
  background-color: #4169e1;

  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 20px;
}

header h1 {
  margin-left: 20px;
}

/* -----------------------------------
  main
----------------------------------- */
main {
  max-width: 80%;
  height: auto;
  margin: 0 auto;
}

main table {
  width: 100%;
  text-align: left;
  border-collapse: collapse;
}

main table thead tr {
  height: 60px;
}

main table tbody tr {
  height: 50px;
}

main table thead tr,
main table tbody tr {
  border-top: 1px solid #d3d3d3;
  border-bottom: 1px solid #d3d3d3;
}

main table tbody tr td ul {
  list-style: none;
  display: flex;
  justify-content: flex-end;
}
